{% extends "base.html" %}

{% block content %}

<section class="services-page">

 

    <section class="services-hero">
     <div class="services-hero-content">

        <p class="tag">OUR SERVICES</p>

        <h1>Crafting Beautiful Mehendi Experiences</h1>

        <p class="subtitle">
            Discover a wide range of traditional and modern mehendi designs crafted by expert artists.
        </p>

        <div class="hero-divider"></div>

     </div>
   </section>
 <div class="container"></div>
 <div class="services-grid">

  <!-- CARD 1 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/western.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Bridal Mehendi</h3>
      <a href="/collections#bridal" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 2 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/engagement.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Engagement Mehendi</h3>
      <a href="/collections#ring" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 3 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/party.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Party Mehendi</h3>
      <a href="/collections#party" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 4 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/festival.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Festival Mehendi</h3>
      <a href="/collections#festival" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 5 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/indian.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Indian Mehendi</h3>
      <a href="/collections#indian" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 6 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/pakistani.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Pakistani Mehendi</h3>
      <a href="/collections#pakistani" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 7 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/arabic.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Arabic Mehendi</h3>
      <a href="/collections#arabic" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 8 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/indo_arabic.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Indo Arabic</h3>
      <a href="/cpllections#indo_arabic" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 9 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/moroccan.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Moroccan Mehendi</h3>
      <a href="/collections#moroccan" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 10 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/portrait.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Portrait Mehendi</h3>
      <a href="/collections#portrait" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 11 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/african.jpg') }}">
    </div>
    <div class="service-info">
      <h3>African Mehendi</h3>
      <a href="/collections#african" class="explore-btn">Explore Now →</a>
    </div>
  </div>

  <!-- CARD 12 -->
  <div class="service-card">
    <div class="service-image">
      <img src="{{ url_for('static', filename='images/western.jpg') }}">
    </div>
    <div class="service-info">
      <h3>Western Contemporary</h3>
      <a href="/collections#western" class="explore-btn">Explore Now →</a>
    </div>
  </div>

 </div>

 </div>

</section>

{% endblock %}